<div class="container-fluid">
    <footer>
        <div class="footWrap">
            <ul class="row footerNav">
                <li class="col-lg-4">
                    <a href="/">Bonnie</a>
                    <ul>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/oatcakes" class="site-nav__link">Oatcakes</a>
                        </li>
                        <li>
                            <a href="/stockists" class="site-nav__link">Stockists</a>
                        </li>
                    </ul>
                </li>
                <li class="col-lg-4">
                        Contact
                    <ul>
                        <li>
                            <a href="mailto:hello@bonniegoods.co.nz">hello@bonniegoods.co.nz</a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/bonniegoodsnz" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/bonnie_goods/" target="_blank">Instagram</a>
                        </li>
                    </ul>
                </li>
                <li class="col-lg-4">
                    <a href="">Store</a>
                    <ul>
                        <li>
                            <a href="/cart">Cart</a>
                        </li>
                        <li>
                            <a href="/account">Account</a>
                        </li>
                        <li>
                            <a href="/shipping">Shipping</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="copy">
              <small>&copy; {{ now.year }} {{ siteName }} | <a href="/terms">Terms</a></small>
            </div>
        </div>
    <div class="anchor">
        <div class="boat">
            <svg width="26px" height="33px" viewBox="0 0 26 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop" transform="translate(-727.000000, -1076.000000)" fill="#801217">
                        <g id="Group-2" transform="translate(727.000000, 1076.000000)">
                            <path d="M15,4 L15,25.0125996 L25,26 C23.4281524,20.4298852 22.2414971,16.7632185 21.4400342,15 C20.6385712,13.2367815 18.4918932,9.57011484 15,4 Z" id="Path-2"></path>
                            <polygon id="Line-2" fill-rule="nonzero" points="13 0 14 2 14 28 13 28"></polygon>
                            <path d="M12,0 L12,24 L2,22.8437215 C3.19716516,17.2664231 4.31396306,13.2939772 5.3503937,10.9263839 C6.38682434,8.55879064 8.60335977,4.91666267 12,0 Z" id="Path-3"></path>
                            <polygon id="Line-3" fill-rule="nonzero" points="14 25.3127865 13.9361052 26 2 24.6872135 1.90002441 24"></polygon>
                            <path d="M26,29.5966307 L0,27 C0.0280990114,27.3771348 0.109304652,27.6492678 0.243616922,27.8163992 C0.90763189,28.6426654 1.90238804,29.2360759 2.48338025,29.5966307 C5.78237026,31.6439328 9.80998465,32.6364083 12.5014821,32.9052093 C15.378705,33.1925587 19.3372778,32.8725185 23.3290394,31.3080908 C23.8338945,31.110231 24.909291,30.7454497 25.6735693,30.2231005 C25.8911898,30.0743668 26,29.8655436 26,29.5966307 Z" id="Path-4"></path>
                            <polygon id="Path-5" points="22 30 21.4962817 28.3529663 6.83040597 27 5 28.3529663"></polygon>
                            <polygon id="Path-6" points="10 27.9731802 10.320869 26.4000244 13 26.7448145 13 28.4000244"></polygon>
                        </g>
                    </g>
                </g>
            </svg>
            <small>Oats float our boat</small>
            <svg width="26px" height="33px" viewBox="0 0 26 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs></defs>
                <g id="Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Desktop" transform="translate(-727.000000, -1076.000000)" fill="#801217">
                        <g id="Group-2" transform="translate(727.000000, 1076.000000)">
                            <path d="M15,4 L15,25.0125996 L25,26 C23.4281524,20.4298852 22.2414971,16.7632185 21.4400342,15 C20.6385712,13.2367815 18.4918932,9.57011484 15,4 Z" id="Path-2"></path>
                            <polygon id="Line-2" fill-rule="nonzero" points="13 0 14 2 14 28 13 28"></polygon>
                            <path d="M12,0 L12,24 L2,22.8437215 C3.19716516,17.2664231 4.31396306,13.2939772 5.3503937,10.9263839 C6.38682434,8.55879064 8.60335977,4.91666267 12,0 Z" id="Path-3"></path>
                            <polygon id="Line-3" fill-rule="nonzero" points="14 25.3127865 13.9361052 26 2 24.6872135 1.90002441 24"></polygon>
                            <path d="M26,29.5966307 L0,27 C0.0280990114,27.3771348 0.109304652,27.6492678 0.243616922,27.8163992 C0.90763189,28.6426654 1.90238804,29.2360759 2.48338025,29.5966307 C5.78237026,31.6439328 9.80998465,32.6364083 12.5014821,32.9052093 C15.378705,33.1925587 19.3372778,32.8725185 23.3290394,31.3080908 C23.8338945,31.110231 24.909291,30.7454497 25.6735693,30.2231005 C25.8911898,30.0743668 26,29.8655436 26,29.5966307 Z" id="Path-4"></path>
                            <polygon id="Path-5" points="22 30 21.4962817 28.3529663 6.83040597 27 5 28.3529663"></polygon>
                            <polygon id="Path-6" points="10 27.9731802 10.320869 26.4000244 13 26.7448145 13 28.4000244"></polygon>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
      </div>
    </footer>
</div>
