<div class="container-fluid hero wow fadeIn">
    <video loop autoplay muted playsinline class="bg-video-cover">
        <source src="/assets/video/bonnie-goods.mp4" type="video/mp4">
    </video>
    <header id="header" class="header noCrown">
        <h1>
            <a href="{{ siteUrl }}">
                <img src="/assets/img/red-crown.png" alt="{{ siteName }}" title="{{ siteName }}" />
            </a>
        </h1>

        <nav>
            {# Open menu icon #}
            <div class="menuWrapper wow fadeInDown" data-wow-delay="1.4s">
                    <a href="https://store.bonniegoods.co.nz" class="storeNav">Store</a>
                <div id="menuBlock" class="menuIcon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            {# Navigation #}
            <ul class="site-nav">
                <li>
                    <a href="/about" class="site-nav__link">About</a>
                </li>
                <li>
                    <a href="/oatcakes" class="site-nav__link">Oatcakes</a>
                </li>
                <li>
                    <a href="/stockists" class="site-nav__link">Stockists</a>
                </li>
                <li>
                    <a href="https://store.bonniegoods.co.nz" class="site-nav__link">Store</a>
                </li>
            </ul>
        </nav>
    </header>

    {# Homepage only logo wordmark over video #}
    <div class="wordMark wow fadeIn" data-wow-delay="1s">
        <a href="/">
            <h1>
                <img src="/assets/img/bonnie-wordmark.png" alt="{{ siteName }}" title="{{ siteName }}" />
            </h1>
        </a>
    </div>

    {# Announcement #}
    {% if announcement.hideShow %}
        {% if announcement.globalAnnouncement|length %}
        <div class="announcement wow fadeInUp" data-wow-delay="4s">
            <div class="row">
                <div class="col-lg-7">
                    <h5>
                        {{ announcement.globalTitle }}
                    </h5>
                    <br />
                    <p>
                        {{ announcement.globalAnnouncement }}
                    </p>
                </div>
                <div class="col-lg-5 closeAnnouncement">
                    Close
                </div>
            </div>
        </div>
        {% else %}
        <div class="announcement singleAnno wow fadeInUp" data-wow-delay="4s">
            <div class="row">
                <div class="col-lg-7">
                    <h5>
                        {{ announcement.globalTitle }}
                    </h5>
                </div>
                <div class="col-lg-5 closeAnnouncement">
                    Close
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
        {# No Announcement #}
    {% endif %}
</div>
