{% extends 'layouts/layout' %}

{% block content %}

    <div class="container">
        <div class="row mask">

            <div class="col-lg-6">
            </div>

            <div class="col-lg-5 introImg wow fadeInUp" data-wow-delay="6s">
                <img src="/assets/img/oats.jpg" />
            </div>

            <div class="col-lg-1">
            </div>

        </div>

        <div class="row">

            <div class="col-lg-5 bonnieIntro wow fadeInUp">
                <h2>Ko te moemoea a Maui kia haere ngatahi ai ratou</h2>
            </div>

            <div class="col-lg-7">
            </div>

        </div>

        <div class="row">

            <div class="col-lg-5 paraIntro wow fadeIn" data-wow-delay=".6s">
                <p>
                    Ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano, “Kao, he rangatahi noa iho koe. Kaore he wahi mau kei te waka nei, na reira me noho tau ki tatahi ke”.
                </p>
            </div>

            <div class="col-lg-7">
            </div>

        </div>

        <div class="row featProducts wow fadeInUp">
            <div class="col-lg-4">
                <img src="/assets/img/portrait-placeholder.png" />
                <h3>Product</h3>
                <p>
                    I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, ka taea e au te haramai i to koutou na taha ki te hii ika?
                </p>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay=".4s">
                <img src="/assets/img/portrait-placeholder.png" />
                <h3>Product</h3>
                <p>
                    I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, ka taea e au te haramai i to koutou na taha ki te hii ika?
                </p>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay=".8s">
                <img src="/assets/img/portrait-placeholder.png" />
                <h3>Product</h3>
                <p>
                    I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, ka taea e au te haramai i to koutou na taha ki te hii ika?
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid underlay">
        <div class="col-lg-12 redBg">
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-7 zType wow fadeInUp">
                <h2>
                    I tētahi ahiahi, e whakareri ana a Māui me ōna tuākana
                </h2>
            </div>
            <div class="col-lg-1">
            </div>
        </div>

        <div class="row followOn">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-6 wow fadeInUp">
                <img src="/assets/img/landscape-placeholder.png" />
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4 bumpPara wow fadeIn" data-wow-delay=".6s">
                <p>
                    Ko ona tuakana ki te hii ika. I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui, “ka taea e au te haramai i to koutou na taha ki te hii ika?” Engari, ko te whakautu o ona tuakana ki a ia ano, “Kao, he rangatahi noa iho koe. Kaore he wahi mau kei te waka nei, na reira me noho tau ki tatahi ke”.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-8 wow fadeInUp">
                <img src="/assets/img/landscape-placeholder.png" />
            </div>
        </div>

        <div class="row email">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-10">
                <p>
                    I te hokinga mai o ona tuakana ki tatahi, ka kii atu a Maui
                </p>
                <a href="mailto:hello@bonniegoods.co.nz">hello@bonniegoods.co.nz</a>
            </div>
        </div>

    </div>

{% endblock %}
