<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	{# SEOmatic #}
	{% hook "seomaticRender" %}

	{# Cachebust the CSS/JS #}
    {% set assetVersion = craft.config.env == "local" ? date().getTimestamp() : 0.06 %}

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	{# CSS #}
	{% includeCssFile "/assets/css/vendor.min.css?v="~assetVersion %}
	{% includeCssFile "/assets/css/site.min.css?v="~assetVersion %}

</head>

<body>

	{% include "base/header" %}

	<main id="content" data-midnight="main">
		{% block content %}
		{% endblock %}
	</main>

	{% include "base/footer" %}

	{# JS #}
	<script src="/assets/js/jquery-3.2.1.slim.min.js"></script>
	{% includeJsFile "/assets/js/vendor.min.js?v="~assetVersion %}
	{% includeJsFile "/assets/js/main.min.js?v="~assetVersion %}

</body>
</html>
