:root{
    a, a:visited{
        color: $color-body-text;
        text-decoration: none;
        transition: color 0.1s ease-in-out;
    }

    a:hover, a:active{
        color: $color-primary;
    }

    .site-nav, footer{
        a, a:visited{
            color: $color-body;
        }
        a:hover, a:active{
            color: $color-body;
        }
    }
    footer{
        .footWrap{
            a, a:visited{
                color: $footer-text;
            }
        }
        .copy{
            a, a:visited{
                color: $footer-text;
            }
        }
    }
}
