
// Site Palette

$color-primary: #B71B21;
$red: $color-primary;

$dark-red: #801217;
$light-red: #DB8D90;
$red-rule: #c5484d;
$grey-rule: #CCC;
$footer-red: #530c0f;
$footer-text: #3d090b;

// Text colors
$color-body-text: #222;

// Backgrounds
$color-body: #FFFFFF;

// Border colors
$color-border: #f6f6f6;

$white: $color-body;
$black: $color-body-text;
