
// Base font

$font-main: 'Montserrat', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, p, figcaption{
    font-size: 16px;
    letter-spacing: 0;
    margin: 0;
    display: inline;
}

h2{
    font-size: 2.8rem;
    font-weight: 700;
    text-transform: uppercase;
}

h3{
    font-size: 1.8rem;
    font-weight: 700;
}
